* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

#header-div-logo-nav {
    display: flex;
    gap: 2rem;
}

.seeven-logo {
    width: 12rem;
    transition: 0.4s;
}

.seeven-logo:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

ul li {
    display: flex;
    opacity: 0.8;
    align-items: center;
    gap: 0.5rem;
    transition: 0.4s;
}

ul li:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

#checked {
    opacity: 1;
}

li a {
    color: #fff;
    list-style: none;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

ul li img {
    width: 1.2rem;
}

#div-search-input {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

#div-search-input input {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.3rem;
}

#div-search-input img {
    width: 1.3rem;
    transition: 0.4s;
}

#div-search-input img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.4s;
}

footer {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #666666;
    gap: 2.5rem;
}

footer img {
    width: 12rem;
}

footer div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer div:last-child {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

footer div:last-child ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

footer div:last-child ul:last-child div {
    display: flex;
    gap: 1rem;
}

footer div:last-child li {
    font-size: 0.7rem;
}

footer p {
    font-size: 0.7rem;
    font-weight: 450;
}